* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}
h1 {
    font-size: 10vh;
    font-weight: 900;
}

